*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #18191A;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Roboto', sans-serif;
  /* Chrome, Edge, and Safari */ }
  body {
    scrollbar-width: auto;
    scrollbar-color: transparent transparent; }
  body::-webkit-scrollbar {
    width: 5px; }
  body::-webkit-scrollbar-track {
    background: transparent; }
  body::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
    border: 3px solid transparent;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px; }
  @media only screen and (max-width: 450px) {
    body {
      overflow: hidden; } }

#open1:checked ~ .menu-con {
  visibility: visible; }

#open2:checked ~ .messenger-con {
  visibility: visible; }

#open3:checked ~ .notification-con {
  visibility: visible; }

#open4:checked ~ .profile-con {
  visibility: visible; }

.main-con {
  width: 100vw;
  height: 91.5vh;
  overflow-y: hidden; }
  @media only screen and (max-width: 1150px) {
    .main-con {
      margin-left: 0rem; } }
  .main-con--grid {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 26.5% 73.4%;
    width: 100%;
    height: 100%; }
    @media only screen and (max-width: 1100px) {
      .main-con--grid {
        grid-template-columns: 32.5% 67.5%; } }
    @media only screen and (max-width: 900px) {
      .main-con--grid {
        grid-template-columns: 100% 0%; } }

.main-con--grid--sidebar--main-part--listening-part {
  width: 100%;
  height: 32rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, 14%) 14% 2%;
  padding-left: 0.6rem; }
  .main-con--grid--sidebar--main-part--listening-part--active-box {
    border-radius: 1rem;
    width: 97%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 15% 85%; }
    .main-con--grid--sidebar--main-part--listening-part--active-box--icon-con {
      width: 100%;
      height: 100%;
      display: grid;
      align-items: center;
      align-content: center;
      justify-items: center;
      justify-content: center; }
      .main-con--grid--sidebar--main-part--listening-part--active-box--icon-con--circle {
        display: grid;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: #1877f2; }
        .main-con--grid--sidebar--main-part--listening-part--active-box--icon-con--circle--icon {
          width: 2rem;
          height: 2rem;
          transform: scale(0.8);
          -webkit-filter: invert(100%); }
    .main-con--grid--sidebar--main-part--listening-part--active-box--txt-con {
      display: grid;
      align-items: center;
      align-content: center; }
      .main-con--grid--sidebar--main-part--listening-part--active-box--txt-con--txt {
        margin-left: 0.5rem;
        font-size: 1.5rem;
        color: #e4e6eb;
        font-weight: bold; }
  .main-con--grid--sidebar--main-part--listening-part--normal-box {
    margin-top: -0.3rem;
    border-radius: 1rem;
    width: 97%;
    height: 90%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 15% 85%;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .main-con--grid--sidebar--main-part--listening-part--normal-box--icon-con {
      width: 100%;
      height: 100%;
      display: grid;
      align-items: center;
      align-content: center;
      justify-items: center;
      justify-content: center; }
      .main-con--grid--sidebar--main-part--listening-part--normal-box--icon-con--circle {
        display: grid;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1); }
        .main-con--grid--sidebar--main-part--listening-part--normal-box--icon-con--circle--icon {
          transform: scale(0.8);
          -webkit-filter: invert(89%) sepia(6%) hue-rotate(185deg); }
    .main-con--grid--sidebar--main-part--listening-part--normal-box--txt-con {
      display: grid;
      align-items: center;
      align-content: center; }
      .main-con--grid--sidebar--main-part--listening-part--normal-box--txt-con--txt {
        margin-left: -0.1rem;
        font-size: 1.5rem;
        color: #e4e6eb;
        font-weight: bold; }
    .main-con--grid--sidebar--main-part--listening-part--normal-box:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.1);
      transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      -moz-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      -ms-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      -o-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .main-con--grid--sidebar--main-part--listening-part--normal-box--drop {
      grid-template-columns: 15% 78% 7%; }
      .main-con--grid--sidebar--main-part--listening-part--normal-box--drop--con {
        display: grid;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
        text-align: center;
        -webkit-filter: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg) brightness(90%) contrast(96%); }
  .main-con--grid--sidebar--main-part--listening-part--create {
    width: 97%;
    height: 90%;
    background-color: rgba(45, 136, 255, 0.2);
    border-radius: 0.6rem;
    display: grid;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .main-con--grid--sidebar--main-part--listening-part--create:hover {
      cursor: pointer;
      background-color: rgba(45, 136, 255, 0.4);
      transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      -moz-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      -ms-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      -o-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .main-con--grid--sidebar--main-part--listening-part--create--txt {
      font-family: 'Roboto', sans-serif;
      font-size: 1.5rem;
      font-weight: bold;
      color: #2d88ff; }
  .main-con--grid--sidebar--main-part--listening-part--divider {
    background-color: rgba(128, 128, 128, 0.4);
    width: 93%;
    height: 0.1rem;
    margin-top: 0.3rem;
    margin-left: 0.8rem; }

.main-con--grid--sidebar {
  background-color: #242526;
  width: 100%;
  height: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.4);
  border-right: 1px solid rgba(128, 128, 128, 0.4);
  outline: 1px solid rgba(128, 128, 128, 0.4);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 17% 83%;
  position: relative; }
  @media only screen and (max-width: 900px) {
    .main-con--grid--sidebar {
      display: none; } }
  .main-con--grid--sidebar--fixed-part {
    width: 100%;
    height: 10rem;
    background-color: #242526;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 50%);
    margin-top: 0.6rem; }
    .main-con--grid--sidebar--fixed-part--heading-part {
      display: grid;
      grid-template-rows: 100%;
      grid-template-columns: 84% 16%;
      align-items: center;
      justify-items: start;
      align-content: center;
      justify-content: center;
      text-align: center; }
      .main-con--grid--sidebar--fixed-part--heading-part--heading {
        font-size: 2.4rem;
        font-weight: 700;
        color: #e4e6eb;
        margin-left: 1.4rem; }
      .main-con--grid--sidebar--fixed-part--heading-part--setting-part {
        width: 3.6rem;
        height: 3.6rem;
        display: grid;
        align-items: center;
        justify-items: start;
        align-content: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%; }
        .main-con--grid--sidebar--fixed-part--heading-part--setting-part--icon {
          -webkit-filter: invert(89%) sepia(6%) hue-rotate(185deg); }
    .main-con--grid--sidebar--fixed-part--search-part {
      display: grid;
      align-items: center;
      justify-items: start;
      align-content: center;
      justify-content: center;
      margin-top: -1.5rem;
      margin-left: -1.2rem; }
      .main-con--grid--sidebar--fixed-part--search-part--search {
        width: 32.8rem;
        height: 3.6rem;
        border-radius: 5rem;
        background-color: rgba(255, 255, 255, 0.1);
        outline: none;
        border: none;
        padding-left: 3.1rem;
        color: #e4e6eb;
        font-family: "Roboto", sans-serif;
        font-size: 1.6rem;
        padding-top: 0.1rem; }
        .main-con--grid--sidebar--fixed-part--search-part--search::placeholder {
          font-family: "Roboto", sans-serif;
          color: #b0b3b8;
          font-size: 1.6rem; }
        .main-con--grid--sidebar--fixed-part--search-part--search--icon {
          position: absolute;
          width: 1.6rem;
          height: 3.6rem;
          fill: #b0b3b8;
          margin-left: 1.7rem; }
    .main-con--grid--sidebar--fixed-part--divider {
      background-color: rgba(255, 255, 255, 0.1);
      width: 93%;
      height: 0.1rem;
      position: absolute;
      margin-top: 9.5rem;
      margin-left: 0.8rem; }
  .main-con--grid--sidebar--main-part {
    width: 100%;
    height: 100%;
    overflow-y: scroll !important;
    overflow-x: hidden; }
    .main-con--grid--sidebar--main-part {
      scrollbar-width: auto;
      scrollbar-color: transparent transparent; }
    .main-con--grid--sidebar--main-part::-webkit-scrollbar {
      width: 5px; }
    .main-con--grid--sidebar--main-part::-webkit-scrollbar-track {
      background: transparent; }
    .main-con--grid--sidebar--main-part::-webkit-scrollbar-thumb {
      background-color: grey;
      border-radius: 10px;
      border: 3px solid transparent;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px; }

.main-con--grid--sidebar--filters {
  width: 100%;
  height: 8rem; }
  .main-con--grid--sidebar--filters--grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 52% 8%; }
    .main-con--grid--sidebar--filters--grid--txt-con {
      display: grid;
      align-items: center;
      align-content: center; }
      .main-con--grid--sidebar--filters--grid--txt-con--txt {
        font-size: 1.7rem;
        color: #e4e6eb;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
        margin-left: 1.6rem;
        margin-top: 0.8rem; }
    .main-con--grid--sidebar--filters--grid--links {
      border-radius: 0.8rem;
      margin-top: 0.3rem;
      width: 91%;
      padding-left: 0.2rem;
      height: 85%;
      margin-left: 1.6rem;
      display: grid;
      align-items: center;
      align-content: center;
      transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      -moz-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      -ms-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      -o-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); }
      .main-con--grid--sidebar--filters--grid--links:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.1);
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        -moz-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        -ms-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        -o-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); }
      .main-con--grid--sidebar--filters--grid--links--txt {
        margin-left: 0.2rem;
        color: #2e89ff;
        font-size: 1.5rem;
        font-weight: 500;
        font-weight: 'Roboto', sans-serif;
        letter-spacing: 0.6px; }
  .main-con--grid--sidebar--filters--divider {
    background-color: rgba(128, 128, 128, 0.4);
    width: 93%;
    height: 0.1rem;
    margin-left: 0.8rem; }

.main-con--grid--sidebar--categories {
  width: 100%;
  height: auto;
  margin-top: 0.8rem; }
  .main-con--grid--sidebar--categories--heading {
    font-size: 1.7rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #e4e6e8;
    margin-left: 1.3rem; }
  .main-con--grid--sidebar--categories--flex {
    height: 100%;
    margin-left: 0.5rem;
    width: 94.5%;
    display: flex;
    flex-direction: column; }
    .main-con--grid--sidebar--categories--flex--con {
      margin-top: 0.4rem;
      width: 100%;
      height: 4.125rem;
      border-radius: 1rem;
      display: grid;
      grid-template-rows: 100%;
      grid-template-columns: 15% 85%;
      transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      -moz-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      -ms-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      -o-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); }
      .main-con--grid--sidebar--categories--flex--con--icon-con {
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center; }
        .main-con--grid--sidebar--categories--flex--con--icon-con--circle {
          display: grid;
          align-items: center;
          align-content: center;
          justify-items: center;
          justify-content: center;
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          margin-left: -0.5rem;
          background-color: rgba(255, 255, 255, 0.1); }
          .main-con--grid--sidebar--categories--flex--con--icon-con--circle--icon {
            transform: scale(0.8);
            -webkit-filter: invert(89%) sepia(6%) hue-rotate(185deg); }
      .main-con--grid--sidebar--categories--flex--con--txt-con {
        display: grid;
        align-items: center;
        align-content: center; }
        .main-con--grid--sidebar--categories--flex--con--txt-con--txt {
          margin-left: -0.1rem;
          font-size: 1.5rem;
          color: #e4e6eb;
          font-weight: 500; }
      .main-con--grid--sidebar--categories--flex--con:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.1);
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        -moz-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        -ms-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        -o-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); }

.main-con--grid--product {
  width: 100%;
  height: 100%; }
  .main-con--grid--product--heading-con {
    width: 100%;
    height: 12.5%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 15.6% 66% 18.4%;
    align-items: center;
    align-content: center; }
    .main-con--grid--product--heading-con--heading {
      color: #e4e6eb;
      font-weight: 700;
      font-size: 2.0rem;
      font-family: 'Roboto', sans-serif;
      margin-left: 3rem; }
      @media only screen and (max-width: 350px) {
        .main-con--grid--product--heading-con--heading {
          margin-left: 1rem;
          font-size: 1.8rem; } }
    .main-con--grid--product--heading-con--location {
      padding-top: 0.5rem;
      text-align: center;
      grid-column: 3 / -1;
      width: 100%;
      height: 100%;
      align-items: center;
      align-content: center;
      display: flex; }
      @media only screen and (max-width: 300px) {
        .main-con--grid--product--heading-con--location {
          width: 200%; } }
      .main-con--grid--product--heading-con--location--icon {
        -webkit-filter: invert(40%) sepia(52%) saturate(200%) saturate(200%) saturate(189%) hue-rotate(189deg) brightness(103%) contrast(102%); }
      .main-con--grid--product--heading-con--location--txt {
        margin-left: 0.3rem;
        display: inline-block;
        color: #2e89ff;
        font-weight: 400;
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif; }
        @media only screen and (max-width: 350px) {
          .main-con--grid--product--heading-con--location--txt {
            font-size: 1.3rem; } }
        .main-con--grid--product--heading-con--location--txt:hover {
          text-decoration: underline;
          text-decoration-color: #2e89ff; }
  .main-con--grid--product--product-con {
    width: 100%;
    height: 100%;
    margin-top: 0.3rem;
    overflow: hidden;
    padding-bottom: 6rem; }
    @media only screen and (max-width: 450px) {
      .main-con--grid--product--product-con {
        padding-bottom: 10rem; } }
    .main-con--grid--product--product-con--grid {
      width: 94.2%;
      height: 100%;
      margin-left: 2.5rem;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: repeat(5, 38.3rem);
      overflow: scroll;
      /* Chrome, Edge, and Safari */ }
      @media only screen and (max-width: 700px) {
        .main-con--grid--product--product-con--grid {
          width: 98%;
          margin-left: 0.6rem; } }
      .main-con--grid--product--product-con--grid {
        scrollbar-width: auto;
        scrollbar-color: transparent transparent; }
      .main-con--grid--product--product-con--grid::-webkit-scrollbar {
        width: 0px; }
      .main-con--grid--product--product-con--grid::-webkit-scrollbar-track {
        background: transparent; }
      .main-con--grid--product--product-con--grid::-webkit-scrollbar-thumb {
        background-color: grey;
        border-radius: 10px;
        border: 3px solid transparent;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px; }
      .main-con--grid--product--product-con--grid--box {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: repeat(3, 32.3%);
        grid-gap: 1.4rem;
        overflow: hidden; }
        @media only screen and (max-width: 1100px) {
          .main-con--grid--product--product-con--grid--box {
            grid-template-columns: repeat(2, 50%); } }
        @media only screen and (max-width: 900px) {
          .main-con--grid--product--product-con--grid--box {
            grid-template-columns: repeat(3, 32.3%); } }
        @media only screen and (max-width: 700px) {
          .main-con--grid--product--product-con--grid--box {
            grid-template-columns: repeat(2, 50%); } }
        @media only screen and (max-width: 350px) {
          .main-con--grid--product--product-con--grid--box {
            grid-template-columns: repeat(1, 100%); } }
        .main-con--grid--product--product-con--grid--box--sub-box {
          display: grid;
          grid-template-columns: 100%;
          grid-template-rows: 80.5% 19.5%;
          overflow: hidden; }
          @media only screen and (max-width: 500px) {
            .main-con--grid--product--product-con--grid--box--sub-box {
              grid-template-rows: 74.5% 20.5%; } }
          .main-con--grid--product--product-con--grid--box--sub-box--img-con {
            border-radius: 0.6rem;
            width: 100%;
            height: 100%; }
            .main-con--grid--product--product-con--grid--box--sub-box--img-con--img {
              border-radius: 0.6rem;
              width: 100%;
              height: 100%;
              object-fit: cover; }
          .main-con--grid--product--product-con--grid--box--sub-box--txt-con {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 39% 24% 34%; }
            .main-con--grid--product--product-con--grid--box--sub-box--txt-con--txt {
              font-size: 1.7rem;
              font-weight: 600;
              margin-top: 0.5rem;
              color: #e4e6eb; }
              .main-con--grid--product--product-con--grid--box--sub-box--txt-con--txt--name {
                font-size: 1.5rem;
                font-weight: 400;
                color: #e4e6eb;
                margin-top: 0rem; }
                .main-con--grid--product--product-con--grid--box--sub-box--txt-con--txt--name--author {
                  font-size: 1.3rem;
                  font-weight: 400;
                  color: #b0b3b8;
                  margin-top: 0.3rem; }

@media only screen and (max-width: 1300px) {
  .main-con--grid--product--heading-con {
    grid-template-columns: 16.6% 65% 18.4%; }
  .main-con--grid--sidebar--fixed-part--search-part--search--icon {
    margin-left: 1.3rem; } }

@media only screen and (max-width: 1200px) {
  .main-con--grid--product--heading-con {
    grid-template-columns: 17.6% 64% 18.4%; }
  .main-con--grid--sidebar--fixed-part--search-part--search--icon {
    margin-left: 1rem; }
  .main-con--grid--sidebar--fixed-part--search-part--search {
    padding-left: 4rem; } }

@media only screen and (max-width: 1150px) {
  .main-con--grid--product--heading-con {
    grid-template-columns: 20.6% 61% 18.4%; }
  .main-con--grid--sidebar--fixed-part--search-part--search {
    padding-left: 4.5rem; } }

@media only screen and (max-width: 1100px) {
  .main-con--grid--sidebar--fixed-part--search-part--search {
    padding-left: 4rem;
    width: 35rem;
    margin-left: 1rem; }
  .main-con--grid--sidebar--fixed-part--search-part--search--icon {
    margin-left: 1.5rem; }
  .main-con--grid--product--heading-con {
    grid-template-columns: 20.6% 57% 22.4%; } }

@media only screen and (max-width: 1000px) {
  .main-con--grid--product--heading-con {
    grid-template-columns: 23.6% 52% 24.4%; }
  .main-con--grid--sidebar--fixed-part--search-part--search {
    width: 31.5rem;
    margin-left: 1.2rem; } }

@media only screen and (max-width: 900px) {
  .main-con--grid--product--heading-con {
    grid-template-columns: 24.6% 56% 19.4%; } }

@media only screen and (max-width: 700px) {
  .main-con--grid--product--heading-con {
    grid-template-columns: 24.6% 50% 27.4%; } }

@media only screen and (max-width: 600px) {
  .main-con--grid--product--heading-con {
    grid-template-columns: 25.6% 49% 27.4%; } }

@media only screen and (max-width: 500px) {
  .main-con--grid--product--heading-con {
    grid-template-columns: 30.6% 37% 27.4%; } }

@media only screen and (max-width: 450px) {
  .main-con--grid--product--heading-con {
    grid-template-columns: 44.6% 19% 36.4%; } }

@media only screen and (max-width: 400px) {
  .main-con--grid--product--heading-con {
    grid-template-columns: 44.6% 17% 36.4%; } }

@media only screen and (max-width: 300px) {
  .main-con--grid--product--heading-con {
    grid-template-columns: 44.6% 12% 36.4%; } }
