*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #18191A; }

#open1:checked ~ .menu-con {
  visibility: visible; }

#open2:checked ~ .messenger-con {
  visibility: visible; }

#open3:checked ~ .notification-con {
  visibility: visible; }

#open4:checked ~ .profile-con {
  visibility: visible; }
