.nav {
    background-color: #242526;
    width: 100vw;
    height: 8.5vh;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-items: center;
    &-search-box {
        width: 24.2%;
        height: 5rem;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 20% 70%;
        padding-top: 0.4%;
        &--logo {
            width: 4rem;
            height: 4rem;
            margin-left: 0.7rem;
            &--search-box {
                background-color: #3A3B3C;
                height: 4rem;
                width: 27rem;
                outline: none;
                border: none;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;
                padding: 2rem;
                display: inline;
                padding-left: 4rem;
                color: #E4E6EB;
                font-size: 1.5rem;
                &::placeholder {
                    color: #A7B1AC;
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.6rem;
                }
                &--icon {
                    position: absolute;
                    fill: #A7B1AC;
                    left: 8rem;
                    top: 2rem;
                }
            }
        }
    }
}

.icon-box {
    width: 53.7rem;
    margin-left: 9rem;
    height: 4rem;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(5, 20%);
    &-con {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        display: flex;
        align-items: center;
        justify-items: center;
        align-content: center;
        justify-content: center;
        transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
        -webkit-transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
        -moz-transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
        -ms-transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
        -o-transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
        &:hover {
            background-color: #4d4f50;
            transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
            -webkit-transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
            -moz-transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
            -ms-transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
            -o-transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        &--icon {
            fill: #b0b3b8;
        }
    }
}

.porfile-box {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    width: 9.5rem;
    height: 3.1rem;
    margin-left: 8.4rem;
    display: flex;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover {
        transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
        -webkit-transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
        -moz-transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
        -ms-transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
        -o-transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
        background-color: #4d4f50;
    }
    &--circle {
        fill: transparent;
        padding-left: 0.3rem;
        padding-top: 0.1rem;
        &--name {
            font-family: 'Segoe UI', sans-serif;
            font-weight: bolder;
            font-size: 1.3rem;
            text-overflow: ellipsis;
            color: #E4E6EB;
            padding-left: 1rem;
            padding-top: 0.6rem;
        }
    }
}

.user-select {
    border: 3px solid violet;
    width: 20rem;
    height: 100%;
    margin-left: 1rem;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(4, 25%);
    &--profile-box {
        border-radius: 50%;
        background-color: #3a3b3c;
        width: 4rem;
        height: 4rem;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}