.res-post-con {
    width: 100vw;
    height: 100vh;
    border: 2px solid red;
    margin-top: 0.5rem;
    overflow-y: scroll;

    &--grid {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        overflow: scroll;

        &--post {
            width: 97%;
            margin-left: 0.5rem;
            height: 35rem;
            background-color: green;
            display: grid;
            grid-template-rows: 14% 73% 13%;
            grid-template-columns: 100%;
border-radius: 0.8rem;
            &--header {
                margin-top: 0.5rem;
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-rows: 100%;
                grid-template-columns: 15% 67% 18%;

                &--img-con {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-items: center;
                    justify-content: center;

                    &--img {
                        margin-top: -0.2rem;
                        width: 4.5rem;
                        height: 4.5rem;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }

                &--name-con {
                    width: 100%;
                    height: 100%;

                    &--name {
                        font-size: 1.4rem;
                        color: #e3e6eb;
                        font-weight: bold;
                        font-family: 'Roboto';
                        margin-top: 0.6rem;

                        &--time {
                            color: #b0b3b8;
                            font-size: 1.2rem;
                            margin-top: 0.3rem;
                        }
                    }
                }

                &--options {
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-rows: 100%;
                    grid-template-columns: repeat(2, 50%);
                     padding-top: 0.7rem;
                     padding-left: 1rem;
                }
            }

            &--main {
                width: 100%;
                height: 100%;
            }

            &--footer {
                width: 100%;
                height: 100%;
            }
        }
    }
}