.maincon--grid--ads {
    width: 100%;
    height: 100%;
    display: grid;

    &--grid {
        width: 92%;
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 2.5% 68.5% 29%;

        &--box {}


        &--ads-box {
            width: 100%;
            height: 100%;
            background-color: #242526;
            border-radius: 1rem;
            margin-left: 2rem;
            width: 92%;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 19% 74% 7%;

            &--box {
                border: 2px solid red;
            }

            &--txt {
                border:2px solid red;
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 5% 45% 50%;


                &--box {
                }

                &--subhead {
                    align-content: center;
                    color: #b0b3b8;
                    font-size: 1.5rem;
                    font-weight: 400;
                    margin-left: 2rem;
                    margin-top: -0.6rem;
                    display: grid;
                    grid-template-rows: 100%;
                    grid-template-columns: 100%;
                }

                &--head {
                    display: grid;
                    grid-template-rows: 100%;
                    grid-template-columns: 65% 35%;

                    &--txt {

                        display: grid;
                        /* align-items: center; */
                        align-content: center;
                        /* justify-items: center; */
                        /* justify-content: center; */
                        color: #e4e6eb;
                        font-size: 1.7rem;
                        font-weight: 600;
                        margin-left: 2rem;

                    }

                    &--more {
                        height: 96%;
                        margin-top: 0.1rem;
                        border-radius: 0.2rem;
                        display: grid;
                        align-items: center;
                        align-content: center;
                        justify-items: center;
                        justify-content: center;
                        color: #4599ff;
                        font-size: 1.5rem;
                        font-weight: 400;
                        margin-left: 4rem;
                        transition: all .7s cubic-bezier(0.075, 0.82, 0.165, 1);
                        -webkit-transition: all .7s cubic-bezier(0.075, 0.82, 0.165, 1);
                        -moz-transition: all .7s cubic-bezier(0.075, 0.82, 0.165, 1);
                        -ms-transition: all .7s cubic-bezier(0.075, 0.82, 0.165, 1);
                        -o-transition: all .7s cubic-bezier(0.075, 0.82, 0.165, 1);

                        &:hover {
                            cursor: pointer;
                            background-color: rgba(77, 79, 80, 0.5);
                            transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                            -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                            -moz-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                            -ms-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                            -o-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                        }
                    }
                }
            }
        }
    }
}