.backbone {
    width: 100vw;
    height: 91.5vh;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 22% 56% 22%;
    overflow: hidden;
    @media only screen and (max-width:450px) {
        &{
            display: none;
            visibility: hidden;
        }
    }
}