.sidebar-con {
    width: 100%;
    height: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    overflow: scroll;
    overflow-x: hidden;
    @media only screen and (max-width: 1100px) {
        & {
            width: 125%;
        }
    }
    @media only screen and (max-width:790px) {
        &{
            visibility: hidden;
            display: none;
        }
    }
    & {
        scrollbar-width: auto;
        scrollbar-color: transparent transparent
    }
    /* Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: grey;
        border-radius: 10px;
        border: 3px solid transparent;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    &--flex {
        display: flex;
        align-items: center;
        justify-items: center;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        &:not(:first-child) {
            margin-top: 0 !important;
        }
        &--box {
            margin-left: 0.5rem;
            margin-top: 0.5rem;
            border-radius: 1rem;
            width: 100%;
            height: 4.5rem;
            display: flex;
            align-items: center;
            justify-items: center;
            align-content: center;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;
            grid-gap: 0.3rem;
            transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
            -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
            -moz-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
            -ms-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
            -o-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
            &:hover {
                cursor: pointer;

                background-color: rgba(77, 79, 80, 0.5);
                transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                -moz-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                -ms-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                -o-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
            &--circle {
                width: 3.1rem;
                height: 3.1rem;
                background-color: #242526;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                display: flex;
                align-items: center;
                justify-items: center;
                align-content: center;
                justify-content: center;
                margin-left: 1rem;
            }
            &--img {
                width: 3.1rem;
                height: 3.1rem;
                margin-left: 1.6rem;
                fill: #E4E6EB;
                &--name {
                    font-family: 'Roboto', sans-serif;
                    margin-left: 0.4rem;
                    font-size: 1.4rem;
                    color: #E4E6EB;
                    font-weight: bolder;
                }
            }
            &--heading-primary {
                color: #b0b3b8;
                font-weight: 600;
                font-family: 'Roboto', sans-serif;
                font-size: 1.4rem;
                margin-top: 0.5rem;
                margin-left: -17rem;
            }
        }
        &--divider {
            background-color: rgba(128, 128, 128, 0.4);
            height: 0.1rem;
            width: 28rem;
            margin-top: 0.5rem;
            margin-left: 1.5rem;
        }
    }
}