.main-con--grid--product {
    width: 100%;
    height: 100%;

    &--heading-con {
        width: 100%;
        height: 12.5%;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 15.6% 66% 18.4%;
        align-items: center;
        align-content: center;

        &--heading {

            color: #e4e6eb;
            font-weight: 700;
            font-size: 2.0rem;
            font-family: 'Roboto', sans-serif;
            margin-left: 3rem;

            @media only screen and (max-width:350px) {
                & {
                    margin-left: 1rem;
                    font-size: 1.8rem;
                }
            }
        }

        &--location {
            padding-top: 0.5rem;
            text-align: center;
            grid-column: 3 / -1;
            width: 100%;
            height: 100%;
            align-items: center;
            align-content: center;
            display: flex;

            @media only screen and (max-width:300px) {
                & {
                    width: 200%;
                }
            }

            &--icon {
                -webkit-filter: invert(40%) sepia(52%) saturate(200%) saturate(200%) saturate(189%) hue-rotate(189deg) brightness(103%) contrast(102%);
            }

            &--txt {
                margin-left: 0.3rem;
                display: inline-block;
                color: #2e89ff;
                font-weight: 400;
                font-size: 1.5rem;
                font-family: 'Roboto', sans-serif;

                @media only screen and (max-width:350px) {
                    font-size: 1.3rem;

                }

                &:hover {
                    text-decoration: underline;
                    text-decoration-color: #2e89ff;

                }
            }
        }
    }

    // 4.8
    &--product-con {
        width: 100%;
        height: 100%;
        margin-top: 0.3rem;
        overflow: hidden;
        padding-bottom: 6rem;

        @media only screen and (max-width:450px) {
            & {
                padding-bottom: 10rem;
            }
        }

        &--grid {
            width: 94.2%;
            height: 100%;
            margin-left: 2.5rem;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(5, 38.3rem);
            overflow: scroll;

            @media only screen and (max-width:700px) {
                & {
                    width: 98%;
                    margin-left: 0.6rem;
                }
            }

            & {
                scrollbar-width: auto;
                scrollbar-color: transparent transparent
            }

            /* Chrome, Edge, and Safari */
            &::-webkit-scrollbar {
                width: 0px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-color: grey;
                border-radius: 10px;
                border: 3px solid transparent;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
            }

            &--box {
                display: grid;
                grid-template-rows: 100%;
                grid-template-columns: repeat(3, 32.3%);
                grid-gap: 1.4rem;
                overflow: hidden;

                @media only screen and (max-width:1100px) {
                    & {
                        grid-template-columns: repeat(2, 50%);
                    }
                }

                @media only screen and (max-width:900px) {
                    & {
                        grid-template-columns: repeat(3, 32.3%);
                    }
                }

                @media only screen and (max-width:700px) {
                    & {
                        grid-template-columns: repeat(2, 50%);
                    }
                }

                @media only screen and (max-width:350px) {
                    & {
                        grid-template-columns: repeat(1, 100%);
                    }
                }

                &--sub-box {
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: 80.5% 19.5%;
                    overflow: hidden;

                    @media only screen and (max-width:500px) {
                        & {
                            grid-template-rows: 74.5% 20.5%;
                        }
                    }

                    &--img-con {
                        border-radius: 0.6rem;
                        width: 100%;
                        height: 100%;

                        &--img {
                            border-radius: 0.6rem;

                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    &--txt-con {
                        display: grid;
                        grid-template-columns: 100%;
                        grid-template-rows: 39% 24% 34%;

                        &--txt {
                            font-size: 1.7rem;
                            font-weight: 600;
                            margin-top: 0.5rem;
                            color: #e4e6eb;

                            &--name {
                                font-size: 1.5rem;
                                font-weight: 400;
                                color: #e4e6eb;
                                margin-top: 0rem;

                                &--author {
                                    font-size: 1.3rem;
                                    font-weight: 400;
                                    color: #b0b3b8;
                                    margin-top: 0.3rem;
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}