.active {
    fill: #2374e1 !important;
}

.active-bottom {
    border-bottom: 2px solid #2374e1;
    border-bottom-left-radius: 0%;
    &:hover {
        background-color: transparent;
    }
}

.hide-me {
    visibility: hidden;
    display: none;
}

.divider {
    background-color: rgba(128, 128, 128, 0.4);
    height: 0.1rem;
    width: 45%;
    position: absolute;
    z-index: 1000;
    margin-top: 2rem;
    margin-left: 2rem;
    position: absolute;
}

.top-prefix {
    top: 45rem;
}

.margin-top-prefixer {
    margin-top: 1.7rem;
    &--two {
        margin-top: 3.5rem;
    }
    &--three {
        margin-top: 5.5rem;
    }
    &--four {
        margin-top: 7rem;
    }
}

.link {
    color: #2e89ff !important;
}