.main-con--mind-section {
    width: 67%;
    height: 21%;
    height: 12rem;
    background-color: #242526;
    position: relative;
    margin-left: 4rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    margin-left: 13rem;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-top: -2rem;
    @media only screen and (max-width: 1200px) {
        & {
            width: 75%;
            height: 21%;
            height: 12rem;
            background-color: #242526;
            position: relative;
            margin-left: 4rem;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            margin-left: 9rem;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            margin-top: -2rem;
        }
    }
    @media only screen and (max-width:1000px) {
        & {
            width: 85%;
            height: 21%;
            height: 12rem;
            background-color: #242526;
            position: relative;
            margin-left: 4rem;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            margin-left: 5rem;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            margin-top: -2rem;
        }
    }
    @media only screen and (max-width:930px) {
        & {
            width: 90%;
            margin-left: 2.5rem;
        }
    }
    @media only screen and (max-width:840px) {
        & {
            width: 95%;
            margin-left: 1.3rem;
        }
    }
    @media only screen and (max-width:600px) {
        & {
            width: 98%;
            margin-left: 0.5rem;
        }
    }
    &--grid {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 50%);
        &--search-con {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: 15% 75%;
            &--img {
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                margin-left: 2rem;
                margin-top: 1rem;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                &--search-box {
                    margin-left: -1rem;
                    background-color: #3A3B3C;
                    height: 4rem;
                    width: 41rem;
                    outline: none;
                    border: none;
                    border-radius: 25px;
                    -webkit-border-radius: 25px;
                    -moz-border-radius: 25px;
                    -ms-border-radius: 25px;
                    -o-border-radius: 25px;
                    padding: 2rem;
                    padding-left: 1.5rem;
                    color: #E4E6EB;
                    font-size: 1.7rem;
                    margin-top: 1rem;
                    @media only screen and (max-width: 1230px) {
                        & {
                            margin-left: 0%;
                            width: 36rem;
                        }
                    }
                    @media only screen and (max-width:1200px) {
                        & {
                            margin-left: -1.2rem;
                            width: 40rem;
                        }
                    }
                    @media only screen and (max-width:750px) {
                        & {
                            width: 43rem;
                        }
                    }
                    @media only screen and (max-width:750px) {
                        & {
                            width: 41rem;
                        }
                    }
                    @media only screen and (max-width:690px) {
                        & {
                            width: 39rem;
                        }
                    }
                    @media only screen and (max-width:500px) {
                        & {
                            width: 36rem;
                            margin-left: -0.5rem;
                        }
                    }
                    &::placeholder {
                        font-size: 1.7rem;
                        color: #B0B3B8;
                        font-family: 'Roboto', sans-serif;
                        font-weight: bold;
                    }
                }
            }
            &--divider {
                background-color: rgba(255, 255, 255, 0.3);
                margin-top: 6rem;
                margin-left: 1.4rem;
                height: 0.1rem;
                width: 90%;
                position: absolute;
                z-index: 100;
            }
        }
        &--chose-section {
            margin-top: 0.5rem;
            width: 90%;
            height: 4.5rem;
            margin-left: 1.5rem;
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: repeat(3, 33.3%);
            &--live {
                border-radius: 0.8rem;
                display: flex;
                align-items: center;
                justify-items: center;
                align-content: center;
                justify-content: center;
                transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                -moz-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                -ms-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                -o-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                -webkit-border-radius: 0.8rem;
                -moz-border-radius: 0.8rem;
                -ms-border-radius: 0.8rem;
                -o-border-radius: 0.8rem;
                &:hover {
                    cursor: pointer;
                    background-color: rgba(77, 79, 80, 0.5);
                    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                    -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                    -moz-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                    -ms-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                    -o-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                }
                &--icon {
                    &--name {
                        font-size: 1.3rem;
                        color: #B0B3B8;
                        font-family: 'Roboto', sans-serif;
                        font-weight: bold;
                        margin-left: 0.5rem;
                    }
                }
            }
        }
    }
}