.main-con--story-con {
    width: 100%;
    height: 45%;
    @media only screen and (max-width: 1280px) {
        & {
            width: 105%;
        }
    }
    @media only screen and (max-width:790px) {
        & {
            width: 85%;
        }
    }
    &--grid {
        width: 81.4%;
        height: 80%;
        margin-left: 8rem;
        margin-top: 2.7rem;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: repeat(5, 18%);
        grid-gap: 1rem;
        @media only screen and (max-width: 1230px) {
            & {
                width: 85.4%;
                margin-left: 5rem;
            }
        }
        @media only screen and (max-width:1200px) {
            & {
                width: 87.4%;
                margin-left: 3rem;
            }
        }
        @media only screen and (max-width:1000px) {
            & {
                width: 107.4%;
                margin-left: 3rem;
            }
        }
        @media only screen and (max-width:930px) {
            & {
                width: 109%;
            }
        }
        @media only screen and (max-width:840px) {
            & {
                width: 115%;
                margin-left: 1rem;
            }
        }
        @media only screen and (max-width:790px) {
            & {
                grid-template-columns: repeat(5, 23%);
                margin-left: 0rem;
                width: 115%;
            }
        }
        @media only screen and (max-width:650px) {
            & {
                width: 115%;
            }
        }
        &--box {
            text-align: center;
            overflow: hidden;
            width: 100%;
            height: 100%;
            background-color: #242526;
            border-radius: 1rem;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;
            &--img {
                width: 100%;
                height: 75%;
                object-fit: cover;
                transform: scale(1.0);
                transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                -webkit-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                -moz-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                -ms-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                -o-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                -webkit-transform: scale(1.0);
                -moz-transform: scale(1.0);
                -ms-transform: scale(1.0);
                -o-transform: scale(1.0);
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                    -webkit-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                    -moz-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                    -ms-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                    -o-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    -o-transform: scale(1.1);
                }
                &--plus-circle {
                    width: 3.2rem;
                    height: 3.2rem;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    background-color: #2e89ff;
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    align-content: center;
                    justify-content: center;
                    margin-left: 3.5rem;
                    margin-top: -2rem;
                    position: relative;
                    outline: 4px solid #242526;
                    &--icon {
                        color: white;
                        &--name {
                            margin-top: 1rem;
                            font-size: 1.2rem;
                            font-family: 'Roboto', sans-serif;
                            color: #E4E6EB;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        &--normal-box {
            text-align: center !important;
            overflow: hidden;
            width: 100%;
            height: 100%;
            background-color: #242526;
            border-radius: 1rem;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;
            &--img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: scale(1.0);
                transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                -webkit-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                -moz-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                -ms-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                -o-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                -webkit-transform: scale(1.0);
                -moz-transform: scale(1.0);
                -ms-transform: scale(1.0);
                -o-transform: scale(1.0);
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                    -webkit-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                    -moz-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                    -ms-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                    -o-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    -o-transform: scale(1.1);
                }
            }
            &--profile-circle {
                margin-top: -19rem;
                margin-left: 1rem;
                position: relative;
                z-index: 1000;
                border: 3px solid #2e89ff;
                width: 3.7rem;
                height: 3.7rem;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                &--img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    object-fit: cover;
                    &--name {
                        display: flex;
                        align-self: center;
                        justify-self: center;
                        font-size: 1.2rem;
                        font-family: 'Roboto', sans-serif;
                        color: #E4E6EB;
                        font-weight: bolder;
                        position: relative;
                        margin-top: 12rem;
                        margin-left: 2.8rem;
                    }
                }
            }
            &--loader-con {
                overflow: hidden;
                width: 110%;
                height: 100%;
                background-color: #242526;
                border-radius: 1rem;
                -webkit-border-radius: 1rem;
                -moz-border-radius: 1rem;
                -ms-border-radius: 1rem;
                -o-border-radius: 1rem;
                background-color: rgba(255, 255, 255, 0.1);
                display: flex;
                align-items: center;
                justify-items: center;
                @media only screen and (max-width: 1150px) {
                    & {
                        width: 115%;
                    }
                }
                &--header {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    justify-items: center;
                    &--img {
                        height: 45px;
                        width: 45px;
                        background: #656871;
                        border-radius: 50%;
                        position: relative;
                        overflow: hidden;
                        display: block;
                        margin-top: -13rem;
                        margin-left: 1rem;
                        &:before {
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            -ms-border-radius: 50%;
                            -o-border-radius: 50%;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            -ms-border-radius: 50%;
                            -o-border-radius: 50%;
                            position: absolute;
                            content: "";
                            height: 100%;
                            width: 100%;
                            background-image: linear-gradient(to right, #656871 0%, #888b94 20%, #656871 40%, #656871 100%);
                            background-repeat: no-repeat;
                            background-size: 450px 400px;
                            animation: shimmer 4s linear infinite;
                            background-size: 800px 600px;
                            -webkit-animation: shimmer 4s linear infinite;
                        }
                    }
                }
            }
            &--arrow-circle {
                width: 4rem;
                height: 4rem;
                background-color: #3E4042;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                margin-top: -13rem;
                margin-left: 59rem;
                &--icon {
                    margin-top: 0.9rem;
                    margin-left: 1rem;
                    fill: #B0B3B8;
                }
            }
        }
    }
}

.mobile-res-arrow {
    // @media only screen and (max-width: 1500px) {
    //     & {
    //         margin-left: 65rem;
    //     }
    // }
    // @media only screen and (max-width:1400px) {
    //     & {
    //         margin-left: 61rem;
    //     }
    // }
    @media only screen and (max-width:1300px) {
        margin-left: 57rem;
    }
    @media only screen and (max-width:1200px) {
        & {
            margin-left: 59rem;
        }
    }
    @media only screen and (max-width:1100px) {
        & {
            margin-left: 60rem;
        }
    }
    @media only screen and (max-width:1000px) {
        & {
            position: absolute;
            margin-left: 20rem;
        }
    }
    @media only screen and (max-width:990px) {
        & {
            visibility: hidden;
            display: none;
        }
    }
}