.main-con--grid--sidebar {
    background-color: #242526;
    width: 100%;
    height: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.4);

    &--fixed-part {
        width: 100%;
        height: 10rem;
        background-color: #242526;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 50%);

        &--heading-part {
            border: 2px solid blue;
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: 88% 12%;
            align-items: center;
            justify-items: start;
            align-content: center;
            justify-content: center;
            text-align: center;

            &--heading {
                font-size: 2.4rem;
                font-weight: 700;
                color: #e4e6eb;
                margin-left: 1.4rem;
            }

            &--setting-part {
                width: 3.6rem;
                height: 3.6rem;
                display: grid;
                align-items: center;
                justify-items: start;
                align-content: center;
                justify-content: center;
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: 50%;

                &--icon {
                    -webkit-filter: invert(89%) sepia(6%) hue-rotate(185deg);
                }
            }
        }

        &--search-part {
            border: 3px solid blue;
            display: grid;
            align-items: center;
            justify-items: start;
            align-content: center;
            justify-content: center;
            &--search {
                width: 32.8;
                height: 3.6rem;
              
                background-color: rgba(255, 255, 255, 0.1);
                // border-radius: 50%;

            }
        }

    }

}