.nav-responsive {
    width: 100vw;
    height: 13vh;
    background-color: #242526;
    display: grid;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: 100%;
    &--icon-con {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: repeat(6, 16.6%);
        &--icon-box {
            display: flex;
            align-items: flex-end;
            justify-items: center;
            align-content: center;
            justify-content: center;
            border-bottom: #2374e1;
            &--icon {
                height: 2.8rem;
                width: 2.8rem;
                fill: #b0b3b8;
            }
        }
    }
    &--logo-con {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 80% repeat(2, 10%);
        &--messenger-circle {
            background-color: #3a3b3c;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            margin-top: 0.7rem;
            display: flex;
            align-items: center;
            justify-items: center;
            align-content: center;
            justify-content: center;
            margin-left: 0rem;
            &--icon {
                fill: #fff;
            }
        }
        &--search-circle {
            background-color: #3a3b3c;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            margin-top: 0.7rem;
            display: flex;
            align-items: center;
            justify-items: center;
            align-content: center;
            justify-content: center;
            margin-left: 0.5rem;
            &--icon {
                fill: #fff;
            }
        }
        &--logo {
            width: 16rem;
            height: 5rem;
        }
    }
}