#open1:checked~.menu-con {
    visibility: visible;
}

#open2:checked~.messenger-con {
    visibility: visible;
}

#open3:checked~.notification-con {
    visibility: visible;
}

#open4:checked~.profile-con {
    visibility: visible;
}